ai-booking-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recieve-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "43771a27-c65c-44f0-bfa9-f631f0fc34de",
      "name": "Webhook",
      "webhookId": "3e685c9d-6e5e-4fe3-8316-bf49859244fa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1620,
        -20
      ],
      "id": "b34f39b0-3cbd-449c-abde-d481dec514c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "http://127.0.0.1:8000/api/speech-to-text",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "audio"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "6cd3ae54-ca0f-4260-be9b-50244f1dd4b1",
      "name": "Specch to  Text",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/extract-intent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json[\"transcript\"] }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "f89e2ce9-9912-4f21-9df3-e3bf42b1ecce",
      "name": "Extract Intent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8002/validate-intent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"provider_name\": \"{{$json['provider_name']}}\",\n  \"time_slot\": \"{{$json['time_slot']}}\",\n  \"service_type\": \"{{$json['service_type']}}\",\n  \"date\": \"{{$json['date']}}\",\n  \"confidence\": \"{{$json['confidence']}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        40
      ],
      "id": "1f186469-218c-4b97-bdf1-79f78717f8a9",
      "name": "Validate agent"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8003/provider-time-slots/{{ $json.provider_name }}/{{ $json.date }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        220
      ],
      "id": "caf7e4fc-fdd0-45be-84aa-bfea9bf88087",
      "name": "retrive-data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bffdde5-a236-405a-8a8c-69d01825e71c",
              "leftValue": "={{ $json.next_action }}",
              "rightValue": "proceed_to_booking",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ed81027f-b83f-4c27-8c6c-eb39f967221f",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "db0d43c4-ba59-464f-bdca-0d9ca4c5bd65",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        40
      ],
      "id": "e3573aaa-c44d-49f5-8884-de7754aeadf6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1140,
        220
      ],
      "id": "fcdbb745-cb6e-4950-9c51-02d05104b293",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8004/book",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"provider_name\": \"{{ $json.validated_data.provider_name }}\",\n  \"service_type\": \"{{ $json.validated_data.service_type }}\",\n  \"date\": \"{{ $json.validated_data.date }}\",\n  \"time_slot\": \"{{ $json.validated_data.time_slot }}\",\n  \"available_spots\": {{ $json.validated_data.available_spots }},\n  \"booking_reference\": \"{{ $json.validated_data.booking_reference }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        40
      ],
      "id": "72be9670-b6ca-4a91-acf8-f602b69eeb15",
      "name": "Book agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Specch to  Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Specch to  Text": {
      "main": [
        [
          {
            "node": "Extract Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent": {
      "main": [
        [
          {
            "node": "Validate agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retrive-data": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Book agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "082a95d5-d7fd-4344-967e-78202e5881b9",
  "meta": {
    "instanceId": "494efd0e301af8f374e4bb6dee75841405bc320a7f2bb171adfbb0bc09534e58"
  },
  "id": "70w0YxvcVT7WtmjO",
  "tags": []
}
